@{
    ViewData["Title"] = "Nhs User Index";
}
<h1>@ViewData["Title"]</h1>

<p>Write some stuff to explain what the demo site is for etc blah blah.</p>

<p>Call center brief explain functionality and low level user requirement to reduce costs as all automated and scripted.</p>

<p>All activity is logged for reporting and safety purposes to assist with National Safety Guidlines and Operating procedures etc.</p>