@{
    ViewData["Title"] = "Local";
}
<h1>@ViewData["Title"]</h1>

<p>Dashboard at Supervisor Level</p>

<p>Primarily Datatable showing users under supervisor and various stats etc.</p>

<p>Ability to select user and see performance data (new page ?) i.e. cancelled/attended/non compliance/missed meetings Mobile app statistics to assist with safety operating procedures.</p>