@{
    ViewData["Title"] = "National";
}
<h1>@ViewData["Title"]</h1>

<p>Dashboard at National Level (if required)</p>

<p>Aimed at an over view for all care trusts and comparisons etc.</p>

<p>Performance data/monitoring reports</p>

<p>Volume of total visits, total late visits, total overrun visits, total missed visits, total cancelled visits, total non compliance visits, total of Safety calls (staff called not following safety guidelines) etc.</p>

<p>Ability for Trust Comparisons based on Percentage staff etc or other calculations to provide a guide for performance.</p>