@{
    ViewData["Title"] = "Regional";
}
<h1>@ViewData["Title"]</h1>

<p>Dashboard at Regional/Care Trust Level</p>

<p>Aimed at an over view for a care trust i.e. BDCT.</p>

<p>No user level data unless required. Performance data/monitoring reports</p>

<p>Volume of total visits, total late visits, total overrun visits, total missed visits, total cancelled visits, total non compliance visits, total of Safety calls (staff called not following safety guidelines) etc.</p>