@{
    ViewData["Title"] = "NHS Demo Mobile App (Android)";
}
<div class="ms-2 me-2">

<h1 class="text-center">@ViewData["Title"]</h1>

<p></p>

<p></p>

<div class="card mb-2">
<p>Screen Shots from Mobile App</p>
<p>Explain Features and functions.</p>
<p>Explain Connectivity.</p>
<p>Go into detail regarding Data capture/safety and ability to expand on features.</p>
<p></p>
</div>

</div>



