@{
    ViewData["Title"] = "NHS Demo Mobile App (Android)";
}
<div class="ms-2 me-2">

<h1 class="text-center">@ViewData["Title"]</h1>

<p></p>

<p></p>

<div style="max-width:250px; margin: auto;">
    <div id="carouselMobileAppPictures" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide-to="6" aria-label="Slide 1"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="~/images/mobileApp/home.jpg" class="d-block w-100" alt="Home">
          <div class="carousel-caption d-none d-md-block">
            <h5>Home</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/images/mobileApp/Appointments.jpg" class="d-block w-100" alt="Appointments">
          <div class="carousel-caption d-none d-md-block">
            <h5>Appointments</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/images/mobileApp/details.jpg" class="d-block w-100" alt="Details">
          <div class="carousel-caption d-none d-md-block">
            <h5>Details</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/images/mobileApp/map.jpg" class="d-block w-100" alt="Map">
          <div class="carousel-caption d-none d-md-block">
            <h5>Map</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/images/mobileApp/security.jpg" class="d-block w-100" alt="Security Check">
          <div class="carousel-caption d-none d-md-block">
            <h5>Security Check</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/images/mobileApp/about.jpg" class="d-block w-100" alt="About">
          <div class="carousel-caption d-none d-md-block">
            <h5>About</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/images/mobileApp/lockscreen.jpg" class="d-block w-100" alt="Notifications">
          <div class="carousel-caption d-none d-md-block">
            <h5>Notifications</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselMobileAppPictures" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<div class="card mb-2">
<p>Explain Features and functions.</p>
<p>Explain Connectivity.</p>
<p>Go into detail regarding Data capture/safety and ability to expand on features.</p>
<p></p>
</div>

</div>



