@{
    ViewData["Title"] = "NHS Web Demo";
}
<div class="ms-2 me-2">

<h1 class="text-center">@ViewData["Title"]</h1>

<p></p>

<p></p>

<div class="card mb-2 ms-2 me-2">
<p>what is web site for</p>
<p>what services can it offer</p>
<p>why use this web site</p>
<p>reporting and monitoring examples etc.</p>
<p></p>
</div>

</div>