@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>Write up to explain what this site is about who it is for.</p>

<p>Brand and them the site as Galleos ?? Galleos server structure and history etc client base national Goverment award</p>

<p>Proven track record of delivering Mobile App and Cloud based solutions to a large commercial base.</p>

