@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not collect or use any personal information/data in this web demonstration.</p>

<p>All data shown on this web site is randomly generated, any similarities with names etc is just coincidence.</p>